div#styled{
    background-color: rgba(5, 150, 105);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius:12px;
    padding: 16px;
}
h2{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgba(255, 255, 255);
    padding-bottom: 8px;
}
p{
    color: rgba(255, 255, 255);
    font-size: 1.00rem;
    text-align: center;
    
}